* {
  font-family: "DM Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}
ul{
    padding: 0;
}
li{
    list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
button {
  cursor: pointer;
}

img{
    border-radius: 10px;
}

#aside {
  padding: 20px 40px;
  margin: auto auto;
  background: black;
  text-align: center;
}

#aside > :link,
#aside > :visited {
  color: #dddddd;
  text-decoration: underline;
}

.padding80 {
  padding: 0 80px;
}

.padding5080 {
  /* กำหนดให้ระหว่างขอบใน บนล่างเป็น 50px และซ้ายขวาเป็น 80px */
  padding: 50px 80px;
}

.margin50{
    margin: 50px 0;
}

header {
  height: 83vh;
  background-image: url("https://a0.muscache.com/im/pictures/cf39f4c4-e860-43d4-85be-deddd7b2da90.jpg?im_w=1440");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#logo {
  display: flex;
  height: 80px;
  /* จัดตำแหน่งขององค์ประกอบใน grid ไปที่ตรงกลาง */
  place-items: center;
}

#logo > :nth-child(1) {
  font-weight: bold;
  font-size: 22px;
}

#logo > div {
  flex: auto;
  width: 37%;
}

#logo > div > a:visited {
  color: #ffffff;
}

.flex_center {
  display: inline-flex;
  align-items: center;
}

.nav * {
  color: #ffffff;
  font-size: 18px;
}

.nav > :hover {
  border-bottom: 1px solid #ffffff;
}

.text_center {
  text-align: center;
}

.text_end {
  text-align: end;
}

.text_end a:hover {
  background-color: rgba(121, 163, 185, 0.5);
  border-radius: 20px;
}

.height54 {
  height: 54px;
}

.nav > *,
.text_end {
  padding: 10px;
}

#nav_button {
  position: relative;
  height: 42px;
  width: 77px;
  border: none;
  border-radius: 110px;
  top: 7px;
}

.search_input {
  display: flex;
  align-items: center;
  text-align: center;
  height: 66px;
  width: 850px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 110px;
}

.search_input > div {
  width: 13rem;
  border-right: 1px solid #dadada;
}

.search_input > :nth-child(1) {
  width: 18rem;
}

/* กำหนดความกว้างของคอลัมน์ Guests */
.search_input > :nth-child(4) {
  width: 11rem;
  border: none;
}

/* กำหนดขนาด icon การค้นหา */
.search_input > :nth-child(5) {
  width: 4.5rem;
  border: none;
}

.search_input > :nth-child(5):hover {
  background: none;
}

.search_input > div * {
  width: 70%;
  margin: auto;
  border: none;
  text-align: left;
}

.search_input > div:hover {
  padding: 10px 0;
  background-color: #e7e7e7;
  border-radius: 110px;
  cursor: pointer;
}

.search_input input {
  background: transparent;
}

.search_button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #fa215b;
}

.search_button:hover {
  background-color: #dc0e64;
}

#preface {
  display: flex;
  height:  625px;
  flex-direction: column;
  justify-content: center;
}

#preface > span {
  width: 450px;
  color: #ffffff;
  font-size: 58px;
  font-weight: bold;
}

#preface > button {
  width: 155px;
  height: 32px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.items .third > li {
  margin: 0 0px;
}

.img70 img {
  width: 70px;
}

.cities li {
  display: flex;
}

.cities > a {
  margin-top: 15px;
}

.cities li > span {
    place-self: center;
    margin-left: 20px;
}

.cities li > span > * {
  display: block;
}

.quarter > * {
  width: 25%;
  padding-right: 13px;
  box-sizing: border-box;
}

.third > *{
    width: 33.33%;
    padding-right: 13px;
    box-sizing: border-box;
}

.font32{
    font-size: 32px;
}

.font18{
    font-size: 18px;
}

.font14{
    font-size: 14px;
}

.black-background {
    background: black;
    color: white;
}

.black-background * {
    color: white;
}

.white_font {
    color: white;
}

.gray-background{
    background-color: #F7F7F7;
}

.gray-border-top {
    border-top: 1px solid #DDDDDD;
}

footer a:hover{
    text-decoration: underline;
}

footer ul>* {
    margin-top: 10px;
}

footer ul>b {
    font-size: 12px;
}

footer ul>li {
    font-size: 14px;
}

.last_footer {
    display: flex;
    margin-bottom: 20px;
}

.last_footer>div{
    width: 25%;
    text-align-last: right;
}

.last_footer>div:nth-child(1){
    width: 50%;
    text-align-last: left;
}



